# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\esc-b\Pictures\Eve\HTW\Semester 3\Bildverarbeitung\BV6_Kintzel_Schuetze\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
